 /* CSS styles for intro.html */
 @font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('01_otf/TmoneyRoundWindRegular.otf') format('opentype');
    font-weight: bolder;
    font-style: bolder;
}
body {
    font-family: 'TmoneyRoundWindRegular', sans-serif;
    background: var(--background);
    overflow: auto;
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 200%;
    width: 100%;
    overscroll-behavior: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* logo */
.logo {
    position: absolute;
    top: 40px;
    left: 30px;
    z-index: 1000; /* 다른 콘텐츠 위에 로고가 표시되도록 z-index 설정 */
    }
    
    .logo img {
    width: 200px;
    height: auto;
    margin-left: 10px;
    }
    .logo img:hover {
        content: url('img/HIROON.png'); /* 마우스 오버 시 이미지 변경 */
    }
/* intro */
    .introcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('img/bgorange.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
        width: 100vw;
        
        text-align: center;
        z-index: 3;
    }
    /*글자 높이 조절*/
    .intro {
        height: 90vh;
        width: 100vw;
        margin-top: 250px;
    }
    .title {
        font-size: 100px;
        color: #fff;
        font-weight: bolder;
        animation: wave 0.6s ease-in-out forwards, jump 0.8s ease-in-out forwards;
        position: relative;
        opacity: 0;
        margin-left: -3px;
        display: inline-block;
    }
    
    @keyframes wave {
        0% {
            top: 0;
        }
        100% {
            top: 100%;
        }
    }
    
    @keyframes jump {
        0% {
            transform: translateY(0) scale(1);
            opacity: 0;
        }
        60% {
            transform: translateY(-50px) scale(1.2);
            opacity: 1;
        }
        100% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
    }
    
    .title:nth-child(1) { animation-delay: 0.1s; }
    .title:nth-child(2) { animation-delay: 0.2s; }
    .title:nth-child(3) { animation-delay: 0.3s; }
    .title:nth-child(4) { animation-delay: 0.4s; }
    .title:nth-child(5) { animation-delay: 0.5s; }
    .title:nth-child(6) { animation-delay: 0.6s; }
    .title:nth-child(7) { animation-delay: 0.7s; }
    .title:nth-child(8) { animation-delay: 0.8s; }
    .title:nth-child(9) { animation-delay: 0.9s; }
    .title:nth-child(10) { animation-delay: 1.0s; }
    .title:nth-child(11) { animation-delay: 1.1s; }
    .title:nth-child(12) { animation-delay: 1.2s; }
    .title:nth-child(13) { animation-delay: 1.3s; }
    .title:nth-child(14) { animation-delay: 1.4s; }
    .title:nth-child(15) { animation-delay: 1.5s; }
    .title:nth-child(16) { animation-delay: 1.6s; }
    .title:nth-child(17) { animation-delay: 1.7s; }
    .title:nth-child(18) { animation-delay: 1.8s; }
    .title:nth-child(19) { animation-delay: 1.9s; }
    /*마우스*/
    .mouse {
        max-width: 2.5rem;
        width: 100%;
        height: auto;
    }
    
    .scroll {
        animation-name: scroll;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
        animation-iteration-count: infinite;
        transform-origin: 50% 20.5px;
        will-change: transform, opacity;
        opacity: 1;
    }
    
    .scroll-link {
        position: absolute;
        bottom: 10rem; /* Adjust the distance from the bottom as needed */
        left: 50%;
        transform: translateX(-50%);
    }
    
    
    @keyframes scroll {
        0%, 20% {
            transform: translateY(0) scaleY(1);
        }
        100% {
            transform: translateY(36px) scaleY(2);
            opacity: 0;
        }
    }
    
    html {
        scroll-behavior: smooth; /* Smooth scrolling */
    } 
    
    /*네비게이션바*/
    nav {
        position: fixed;
        width: 120px;
        height: 900px; /* Increased height */
        top: 58%;
        left: 2.8%;
        transform: translateY(-50%);
        background-image: url('img/navbg.png');
        background-size: 100% 60%; /* Ensures the entire image is visible */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center; /* Centers the image */   
        padding: 15px;
        border-radius: 10px; /* Rounded corners */
        z-index: 5;
    } 
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 100%; /* Ensures the ul takes the full height of the nav */
        justify-content: center; /* Centers the list items vertically */
    }
    nav ul li {
        margin: 15px 0;
        text-align: center;
    }
    nav ul li a {
        color: #000000;
        text-decoration: none;
        font-size: 15px;
        transition: color 0.3s;
        font-weight: bolder;
        margin-left: 10px;
    }
    nav ul li a:hover {
        color: orange;
        font-weight: bolder;
    }
    /*section: 챕터페이지*/
    .chapter {
        width: 120%;
        height: 120%;
        display: inline-block;
        cursor: move; /* Cursor style for draggable area */
        transition: transform 15.0s ease; /* Slower transition for initial scaling */
        z-index: 1; /* Lower z-index to stay behind other sections */
        position: relative; /* Ensure z-index works */
        overflow: hidden;
    }
    
    .chapter img {
        width: 100%; /* Adjusted to fit container width */
        height: auto;
        max-width: 1920px; /* Limit maximum width */
        margin-left: -5%;
        overflow: hidden;
        transition: transform 6.0s ease; /* Regular transition for scaling */
    }
    
    .chapter.hovered img {
        transform: scale(1.8); /* Scale up when hovered */
        transition: transform 6.0s ease; /* Even slower transition for scaling up */
    }
    
    .section.main {
        width: 110%;
        height: 110%;
        background-image: url('img/mainbackground.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1; /* Lower z-index to stay behind other sections */
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 6.0s ease; /* Smooth transition for movement */
        opacity: 1; /* Initially visible */
        pointer-events: auto; /* Enable interaction */
    }
    
    .section.main.hovered {
        transform: scale(1.2); /* Scale up when hovered */
        opacity: 0; /* Hide when hovered */
        pointer-events: none; /* Disable interaction */
    }
    
   
    /*시놉시스*/ 
    section.timeline {
        margin-top: -20px;
        width: auto;
        height: 3800px; /* Adjust height as needed */
        background-image: url('img/bgorange.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        overflow: hidden;
        color: #333; /* Dark grey text */
        padding: 50px 0;
        z-index: 0; /* Lower z-index than .section.main when scaled up */
    }
    .timeline ul {
        background-image: url('img/bgorange.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 50px 0;
    }
    .timeline ul li {
        list-style-type: none;
        width: 8px;
        margin: 0 auto;
        padding-top: 50px;
        position: relative;
        left: 50px; /* Adjust this value based on your layout needs */
    }
    .timeline ul li::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background: inherit;
        z-index: 1;
    }
    .timeline ul li div {
        position: relative;
        bottom: 0;
        width: 400px; /* Adjust width as needed */
        height: auto;
        text-align: center; /* Center the content horizontally */
        margin-top: 40px;
    }
    .timeline ul li div img {
        max-width: 150%; /* Adjust image size as needed */
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .timeline ul li div .text-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: auto;
    }
    .timeline ul li div span {
        display: block; /* Make span a block-level element */
        text-align: center; /* Center content horizontally */
        justify-content: left; /* Optional for vertical alignment */
        left: 5%; /* Adjust the left position */
    }
    .timeline ul li:nth-child(odd) div {
        left: -439px; /* Moved to the left */
        text-align: left; /* Align text to the left */
        z-index: 2;
    }
    .timeline ul li:nth-child(even) div {
        left: auto; /* Reset left to default */
        right: 45px; /* Moved to the right */
        text-align: right; /* Align text to the right */
        z-index: 2;
    }

    .timeline ul li div {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .timeline ul li:nth-child(odd) div {
        transform: translate3d(-400px, 0, 0); /* Adjusted transform direction */
    }
    .timeline ul li:nth-child(even) div {
        transform: translate3d(200px, 0, 0); /* Adjusted transform direction */
    }
    .timeline ul li.in-view div {
        transform: none;
        visibility: visible;
        opacity:3;
    }
    @media screen and (max-width: 900px) {
        .timeline ul li div {
            width: 250px;
        }
        .timeline ul li:nth-child(even) div {
            left: -289px; /* 250 + 45 - 6 */
        }
    }
    @media screen and (max-width: 600px) {
        .timeline ul li {
            margin-left: 20px;
        }
        .timeline ul li div {
            width: calc(100vw - 91px);
        }
        .timeline ul li:nth-child(even) div {
            left: 45px;
        }
    }

    /* Additional CSS to move GIF images to the left */
    .timeline ul li:nth-child(odd) div img[src$=".gif"] {
        margin-left: -140px; /* Adjust this value as needed to move GIFs to the left */
       margin-top: 20px;
        width:95%;
        height: auto;
        z-index: 2;
    }

    /* Additional CSS to keep GIF images on the right unchanged */
    .timeline ul li:nth-child(even) div img[src$=".gif"] {
        margin-right: 0; /* Keep the margin-right as 0 to maintain position */
        margin-top: 100px;
        z-index: 2;
    }
    
   /*SCROLL*/
   .image-container {
    position: relative;
    width: calc(150% - 200px); /* 부모 요소 너비에서 200px을 뺀 값으로 설정 */
    height: 700px; /* 카드의 높이를 원하는 값으로 설정 */
    justify-content: flex-start; /* 이미지를 왼쪽으로 정렬 */
    margin-left: -200px; /* 왼쪽 여백을 100px로 설정 */
    margin-top: 20px; /* 상단 여백을 필요에 따라 조정 */
    /* 이미지를 컨테이너 내에서 자르지 않도록 설정 */
    margin-right: 200px;
}

.image-container img {
    width: 100%; /* 이미지 너비를 컨테이너에 맞게 설정 */
    height: 100%; /* 이미지 높이를 컨테이너에 맞게 설정 */
    border-radius: 10px; /* 둥근 모서리 설정 */
    overflow: hidden;
}

.image-container img.gif-overlay {
   
    position: absolute;
    top: 45%; /* 이미지의 세로 중앙에 위치하도록 설정 */
    left: 18%; /* 상대적으로 왼쪽에 배치 */
    width: 60%; /* GIF 오버레이의 너비를 이미지의 일부로 설정 */
    transform: translate(-50%, -50%); /* 세로와 가로 중앙에 정렬 */
    z-index: 2; /* GIF가 이미지 위에 나타나도록 설정 */
    pointer-events: none; /* GIF가 클릭 이벤트를 방해하지 않도록 설정 */
}




#sectionPin {
    height: 60vh;
    width: 7000px;
    display: flex;
    left: 0;
    background: rgb(255, 255, 255);
    color: var(--bg-color);
}
.pin-wrap {
    display: flex;
    width: auto; /* Adjust width as per your content */
    height: 2000px;
    margin-top: 100px;
    margin-left: 80px;
}
.pin-wrap img{
    display: flex;
    width: 1200px;
    height: auto;
    margin-left: 180px;
    margin-right: 50px;
   
}
.pin-wrap > * {
    min-width: 30vw; /* Adjust as needed */
   margin-right: 10px;/* Prevent child elements from shrinking */
}
  /*VIDEO*/
    section.video {
        width: auto;
        height: 1000px;
        background-color:  rgba(255, 245, 0, 0.8); /* Gold background */
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        color: #333; /* Dark grey text */
        padding: 50px 0;
        margin-top: 500px;
    }
    .video {
        width: auto;
        height: 2000px;
        background-color:  rgba(255, 245, 0, 0.8); /* Gold background */
        
        color: #333; /* Dark grey text */
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }  
    .video-container {
    width: auto;
    max-width: 1000px;
    background-color: #000;
    padding: 10px;
    margin-top: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: auto;
    margin-left: 50px;
    align-self: center; /* 가로 중앙 정렬 */
    }
    .video-player {
    width: 100%;
    height: 600px; /* Adjust height as needed */
    object-fit: cover;
    }
    /* Media query for responsiveness */
    @media (max-width: 768px) {
    .video-player {
    height: 300px; /* Adjust height for smaller screens */
    }
    }
  /*게임플레이슬라이더*/
  .slider {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 300%; /* 세 개의 슬라이드가 연속으로 보이게 설정 */
    animation: slide 9s infinite;
}

.slide {
    width: 33.33%; /* 슬라이드 개수에 따라 너비 설정 */
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-33.33%); }
    45% { transform: translateX(-33.33%); }
    50% { transform: translateX(-66.66%); }
    70% { transform: translateX(-66.66%); }
    75% { transform: translateX(-100%); }
    95% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
    
    /*MAINPAGE DESCIPTION*/
   /* section.mainpage {
        width: auto;
        height: 1000px;
        background-color: rgb(255, 255, 255); 
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        color: #fff;
        padding: 50px 0;
    }
    section.mainpage.ul{
        text-align: left;
        color:black;
        left:0%;
        margin-right: 1000px;
        margin-top: 100px;
    }
    .orangeright {
        width: 1000px; 
        height: 60%; 
        background-color: #FF9900; 
        position: absolute; 
        right: 0; 
        margin-top: 60px;   
    }*/
    
    /*USERPAGE DESCRIPTION*/
    /*
    section.userpage {
        width: auto;
        height: 900px;
        background-color:rgb(253, 220, 54); 
        background-image: url('img/bgyellow.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        color: #fff; 
        padding: 50px 0;
    }
    .orangeleft {
        width: 1200px; 
        height: 60%; 
        background-color: #FF9900; 
        position: absolute;
        left: 0; 
        margin-top: 60px;
        
    }
    .whiteright {
        width: 620px; 
        height: 60%; 
        background-color: rgb(255, 255, 255); 
        position: absolute; 
        right: 0;
        margin-top: 60px;
        
    }*/
/*PLAYGAME*/
section.playgame {
    position: relative;
    width: 100%;
    height: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.item {
    width: 200px;
    height: 200px;
    list-style-type: none;
    position: absolute;
    top: 72%;
    margin-right: 20px;
    transform: translateY(0%);
    transform: translateX(45%);
    z-index: 1;
    background-position: center;
    background-size: 1800px 833px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    right: calc(100% - 200px); /* Move to the right end */
    background-repeat: no-repeat;
}

.item:nth-child(1), .item:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
}

.item:nth-child(3) { left: 50%; }
.item:nth-child(4) { left: calc(50% + 220px); }
.item:nth-child(5) { left: calc(50% + 440px); }
.item:nth-child(6) { left: calc(50% + 660px); opacity: 0; }

.content {
    width: min(20vw,200px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
}

.content .title {
    font-family: 'arial-black';
    text-transform: uppercase;
}

.content .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
}

.content button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.navigation {
    position: absolute;
    bottom: 2rem;
    right: -70%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
    margin-right: 20px;
}

.navigation .button {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 100px;
    margin-right: 550px;
}

.navigation .button:hover {
    background-color: rgba(255,255,255,0.3);
}

.prev-button {
    left: calc(50% - 100px);
}

.next-button {
    left: calc(50% + 400px);
}

.image-between-arrows {
    position: absolute;
    top: 55%;
    left: calc(50% - 10px);
    transform: translateY(-50%);
    z-index: 2;
}

@media (width > 650px) and (width < 900px) {
    .content .title { font-size: 1rem; }
    .content .description { font-size: 0.7rem; }
    .content button { font-size: 0.7rem; }
    
    .item {
        width: 160px;
        height: 270px;
    }
    
    .item:nth-child(3) { left: 50%; }
    .item:nth-child(4) { left: calc(50% + 170px); }
    .item:nth-child(5) { left: calc(50% + 340px); }
    .item:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
}

@media (width < 650px) {
    .content .title { font-size: 0.9rem; }
    .content .description { font-size: 0.65rem; }
    .content button { font-size: 0.7rem; }
    
    .item {
        width: 130px;
        height: 220px;
    }
    
    .item:nth-child(3) { left: 50%; }
    .item:nth-child(4) { left: calc(50% + 140px); }
    .item:nth-child(5) { left: calc(50% + 280px); }
    .item:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
}
      /*store*/
      section.store {
        width: auto;
        height: 1100px;
        background-color: #949494; 
        background-image: url('img/bgwhite.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: #fff; /* White text */
        padding: 50px 0;
        z-index: 1;
        position: relative;
        height: 100vh;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
    
    .putitem img {
        max-width: 200%; /* 최대 너비를 80%로 설정 */
        height: auto; /* 비율에 맞게 높이 자동 조절 */
        object-fit: contain; /* 이미지가 컨테이너 안에 맞춰지도록 함 */
        transition: transform 0.3s ease; /* 부드러운 변환 효과 */
        align-items: center;
        margin-left: 25px;
        margin-bottom: 0px;
    }
    
    /*.putitem img:hover {
        transform: scale(1.1); \
    }*/

    .clickable-area {
        position: absolute;
        width: 10%;
        height: 14%;
       /* border: 2px dashed #000;*/
    }
    
    .clickable-area.top-left {
        top: 33%;
        left: 20%;
    }
    .clickable-area.top-center {
        top: 33%;
        left: 31%;
    }
    .clickable-area.top-right {
        top: 33%;
        left: 42%;
    }
    .clickable-area.bottom-left {
        top: 53%;
        left: 20%;
    }
    .puton img{
        margin-left: 100px;
        margin-top: -250px; /* 더 위로 조정 */
        width: 600px;
        height: auto;
    }
   /*BRANDING*/
        section.branding {
            width: auto;
            height: 1000px;
            background-color: #fff; /* White background */
            color: #333; /* Dark grey text */
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            padding: 50px 0;
            z-index: 0;
        }
        .branding-logo img {
            max-width: 50%;
            height: auto;
            margin: 180px auto 10px; /* Centering horizontally */
            display: block; /* Ensure image block-level for centering */
            transition: opacity 0.3s ease; /* Smooth transition */
        }
        img {
            width: 1200px;
            object-fit: cover;
            flex-shrink: 0; /* Prevent images from shrinking */
            margin-left: 300px;
            transition: all 0.3s ease; 
        }
        section.branding img:hover {
            content: url('img/HIROON.png'); /* 마우스 오버 시 이미지 변경 */
        }
        h4 {
            font-size: 20px;
            margin-left: 250px;
        }

    /*CONTACT*/
        section.contact {
            width: auto;
            height: 400px;
            background-color: #ffffff; /* Red background */
            color: #333; /* Dark grey text */
            padding: 60px 0;
            position: relative; /* Make the section a positioned element */
        }  
        .orange-rectangle {
            width: 1200px; /* Width of the orange rectangle */
            height: 60%; /* Make it as tall as the section */
            background-color: #FFE500; /* Orange background */
            position: absolute; /* Position it absolutely within the section */
            right: 0; /* Attach it to the right side */
            top: 100px; /* Align it to the top */
        }
        .white-rectangle {
            width: 1000px; /* Width of the orange rectangle */
            height: 20%; /* Make it as tall as the section */
            background-color: rgb(255, 255, 255); /* Orange background */
            position: absolute; /* Position it absolutely within the section */
            right: 0; /* Attach it to the right side */
            top:180px; /* Align it to the top */
        }
        .contact p {
            font-style: bold;
            font-weight: bolder;
            margin: 40px 100px;
            margin-left:180px;
            margin-top:205px;
            font-size: 25px;
            text-align: left;
        }
        .contact ul {
            font-style: bold;
            font-weight: bolder;
            margin-right:60px;
            margin-top: 20px;
            font-size: 20px;
            text-align: right;
            z-index: 3;
        }

/*CHARTINTRO*/
section.chartintro {
    background: #FFC47F;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-layer {
    width: 80%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.28); /* 반투명한 흰색 배경 */
    padding: 20px;
    margin-left: 50px ;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .text-content {
    display: flex;
    justify-content: space-between; /* Space between columns */
    width: 100%;
    margin-bottom: 20px;
  }
  .left-column, .right-column {
    width: 45%; /* Adjust width as needed */
  }
  .section-title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }
  .section-text {
    margin-top: 20px;
    font-size: 16px;
    color: #2b2b2b;
    text-align: left;
  }
  .section-subtitle {
    font-size: 24px;
    color: #6c6c6c;
    margin-bottom: 20px;
  }
  .chart {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    background: url('img/chart.png') no-repeat center center;
    background-size: contain; /* Adjust background size as needed */
    
  }

/*CHART1*/
        section.backgroundmade {
            width: auto;
            height: 1000px;
            background-color: #ffcc80; /* Light orange */
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            padding: 20px 0;
        }
        
        .backgroundmade img {
            max-width: 15%;
            height: auto;
            margin: 10px 10px; /* Adjust spacing between images */
            margin-bottom: 200px;
            margin-left: 20px;
        }
/*WHYMADE?*/
        .why {
            background-color: #FFC47F; /* Different shade of orange */
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            padding: 20px 0;
        }

        .why .image-with-text {
            display: flex;
            align-items: flex-start; /* Align items to the start (top) */
            justify-content: space-between;
            width: 60%;
            margin-bottom: 50px; /* Adjust as needed */
            margin-top: 150px;
        }

        .why .image-with-text img {
            max-width: 40%; /* Adjust image width as needed */
            height: auto;
            margin-left:10px;
        }

        .why .image-with-text .text {
            max-width: 55%; /* Adjust text width as needed */
            font-size: 18px; /* Adjust font size as needed */
            text-align: left; /* Align text to the left */
            color: #fff; /* Text color */
            margin-left: 10px; /* Add margin between image and text */
        }

        /* Media query for smaller screens */
        @media (max-width: 768px) {
            .why .image-with-text {
                flex-direction: column;
                align-items: flex-start;
            }

            .why .image-with-text img {
                max-width: 100%; /* Adjust image width for smaller screens */
                margin-bottom: 10px; /* Add margin between images */
            }

            .why .image-with-text .text {
                max-width: 100%;
                margin-left: 0; /* Reset margin for smaller screens */
                margin-top: 10px; /* Add margin between images and text */
            }
        }

    /*FOOTER*/
    footer {
        width: 105%;
        background-color: #FF9900;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
        margin: 0 50px 0 0;
        padding: 100px 50px;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-container .footer-logo img {
        width: 300px;
        height: auto;
        margin-left: 5px;
        margin-right: 30px;
    }
    footer p {
        margin: 40px 100px;
        margin-left:120px;
        font-size: 16px;
        text-align: left;
    }
 
 
  