 /* CSS styles for intro.html */
 @font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('01_otf/TmoneyRoundWindRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: orange;
    --primary-color: orange;
}

body {
    font-family: 'TmoneyRoundWindRegular', sans-serif;
    background: var(--background);
    overflow: auto;
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.introcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/bgorange.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin-left: 0px;
    text-align: center;
    z-index: 2;
}

.title {
    font-size: 100px;
    color: #fff;
    font-weight: bold;
    animation: wave 0.6s ease-in-out forwards, jump 0.8s ease-in-out forwards;
    position: relative;
    opacity: 0;
    display: inline-block;
}

@keyframes wave {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    60% {
        transform: translateY(-50px) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.title:nth-child(1) { animation-delay: 0.1s; }
.title:nth-child(2) { animation-delay: 0.2s; }
.title:nth-child(3) { animation-delay: 0.3s; }
.title:nth-child(4) { animation-delay: 0.4s; }
.title:nth-child(5) { animation-delay: 0.5s; }
.title:nth-child(6) { animation-delay: 0.6s; }
.title:nth-child(7) { animation-delay: 0.7s; }
.title:nth-child(8) { animation-delay: 0.8s; }
.title:nth-child(9) { animation-delay: 0.9s; }
.title:nth-child(10) { animation-delay: 1.0s; }
.title:nth-child(11) { animation-delay: 1.1s; }
.title:nth-child(12) { animation-delay: 1.2s; }
.title:nth-child(13) { animation-delay: 1.3s; }
.title:nth-child(14) { animation-delay: 1.4s; }
.title:nth-child(15) { animation-delay: 1.5s; }
.title:nth-child(16) { animation-delay: 1.6s; }
.title:nth-child(17) { animation-delay: 1.7s; }
.title:nth-child(18) { animation-delay: 1.8s; }
.title:nth-child(19) { animation-delay: 1.9s; }

.mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
}

.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
}

.scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes scroll {
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }
    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }
}

html {
    scroll-behavior: smooth; /* Smooth scrolling */
}

body::before {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* 검은 막의 색상과 투명도 조절 */
z-index: -1; /* 배경 이미지보다 뒤에 위치하도록 설정 */
}

body {
margin: 0;
padding: 0;
background-image: url('img/background.png');
background-size: cover;
background-position: center;
background-attachment: fixed;
text-align: center;
min-height: 100vh;
display: flex;
flex-direction: column;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.6);
    z-index: -1;
}

.container {
width: 90%; /* 예: 90% 또는 적절한 너비로 조정 */
margin: auto;


justify-content: space-between;
align-items: center;
}

.orange{
    width:auto;
    height:100vh;
    background-color: orange;
}

/* Header style */
header {
    color: #fff;
    padding-top: 30px;
    min-height: 50px;
    width: 100%;
}

header h1 {
    padding: 0 20px;
    margin: 0;
    font-family: Banda, sans-serif;
}

.logo {
position: absolute;
top: 20px;
left: 20px;
z-index: 1000; /* 다른 콘텐츠 위에 로고가 표시되도록 z-index 설정 */
}

.logo img {
width: 300px;
height: auto;
}

/* Optional: 로고에 마우스를 올렸을 때 다른 이미지로 교체 */
/*
.logo img:hover {
content: url('img/logohover.png');
}
*/

h2 {
    color: #fff;
    font-style: bold;
    font-size: 250px;
    text-align: center;
    margin-top: 100px;
    transition: color 0.5s;
}

h2:hover {
    color: #f43f3f;
    font-weight: bold;
}

/* Navigation style */
nav {
    position: fixed;
    width: 120px;
    top: 50%;
    left: 3.1%;
    transform: translateY(-50%);
    background-color:rgba(222, 222, 222, 0.8); /* Optional: to make the background of the nav a bit transparent */
    padding: 15px;
    border-radius: 10px 10px 10px 10px; /* Optional: rounded corners */
    z-index: 5;
    box-shadow: #333;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: orange;
    font-weight: bold;
}

#draggable {
    position: relative; /* Allow positioning with top/left */
    border: 2px solid #aaa;
    transition: transform 0.2s ease-in-out; /* Apply transition effect */
    cursor: move; /* Change cursor to indicate draggable element */
    z-index: 1;
}
#draggable img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -1;
}

.title:nth-child(1){
animation-delay:0.1s;
}
.title{
font-size:100px;
color: #fff;
font-weight:bold;
animation:animationwave 0.6s ease-in-out forwards, jump 0.8s ease-in-out forwards;
position: relative;
opacity: 0;
display: inline-block;
}
.title img{
margin-top: 150px;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */


h1 {
font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background-image: url('img/bgorange.png');
background-size: cover;
background-position: center;
background-attachment: fixed;
padding: 50px 0;
margin-left: 50px;
}

.timeline ul li {
list-style-type: none;
width: 6px;
margin: 0 auto;
padding-top: 50px;
}

.timeline ul li::after {
content: "";
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
width: 30px;
height: 30px;
border-radius: 50%;
background: inherit;
z-index: 1;
}

.timeline ul li div {
position: relative;
bottom: 0;
width: 400px;
padding: 15px;
background: #ffffff;
}

.timeline ul li div::before {
content: "";
position: absolute;
bottom: 7px;
width: 0;
height: 0;
border-style: solid;
}

.timeline ul li:nth-child(odd) div {
left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
left: -15px;
border-width: 8px 16px 8px 0;
border-color: transparent #ffffff transparent transparent;
}

.timeline ul li:nth-child(even) div {
left: -439px;
}

.timeline ul li:nth-child(even) div::before {
right: -15px;
border-width: 8px 0 8px 16px;
border-color: transparent transparent transparent #ffffff;
}

time {
display: block;
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
background: #ffffff;
}

.timeline ul li div {
visibility: hidden;
opacity: 0;
transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
transform: none;
visibility: visible;
opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
.timeline ul li div {
width: 250px;
}
.timeline ul li:nth-child(even) div {
left: -289px;
/*250+45-6*/
}
}

@media screen and (max-width: 600px) {
.timeline ul li {
margin-left: 20px;
}
.timeline ul li div {
width: calc(100vw - 91px);
}
.timeline ul li:nth-child(even) div {
left: 45px;
}
.timeline ul li:nth-child(even) div::before {
left: -15px;
border-width: 8px 16px 8px 0;
border-color: transparent #f45b69 transparent transparent;
}
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
width: 40px;
height: 40px;
border-radius: 0;
}

.timeline-rhombus ul li::after {
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
bottom: 12px;
}

.timeline-star ul li::after {
clip-path: polygon(
50% 0%,
61% 35%,
98% 35%,
68% 57%,
79% 91%,
50% 70%,
21% 91%,
32% 57%,
2% 35%,
39% 35%
);
}

.timeline-heptagon ul li::after {
clip-path: polygon(
50% 0%,
90% 20%,
100% 60%,
75% 100%,
25% 100%,
0% 60%,
10% 20%
);
}

.timeline-infinite ul li::after {
animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
0% {
transform: translateX(-50%) scale(1);
}
50% {
transform: translateX(-50%) scale(1.25);
}
100% {
transform: translateX(-50%) scale(1);
}
}

/* Section styles with different background colors */
section.main {
    width: auto;
    height: 900px;
    color: #fff; /* White text */
    padding: 50px 0;
}

section.synopsis {
    width: auto;
    height: 2000px;
    background-color: #f4f4f4; /* Light grey background */
    color: #333; /* Dark grey text */
    padding: 50px 0;
}

section.video {
    width: auto;
    height: 50px;
    background-color: rgba(255, 245, 0, 0.8); /* Gold background */
    color: #333; /* Dark grey text */
    padding: 50px 0;
}


.video {
width: auto;
height: 2000px;
background-color:  rgba(255, 245, 0, 0.8); /* Gold background */
color: #333; /* Dark grey text */
padding: 50px 0;
display: flex;
flex-direction: column;
justify-content: center;
}

.video-container {
width: auto;
max-width: 1000px;
background-color: #000;
padding: 10px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
margin-bottom: auto;
margin-left: 50px;
align-self: center; /* 가로 중앙 정렬 */
}

.video-player {
width: 100%;
height: 600px; /* Adjust height as needed */
object-fit: cover;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
.video-player {
height: 300px; /* Adjust height for smaller screens */
}
}


.image-container {
    width: 100px;
   
display: flex;
justify-content: center; /* 이미지를 가운데 정렬 */
margin-top: 20px; /* 필요에 따라 여백 조정 */
margin-left:200px;

}

.image-container img {

height: auto;
width: 180px;
border-radius: 8px; /* 이미지에 둥근 모서리를 추가 */

}

#sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: rgb(255, 255, 255);
    color: var(--bg-color);
   
    
}

.pin-wrap {
display: flex;
width: 900vw; /* Adjust width as per your content */
height: 1000px;
margin-top: 100px;
}
.pin-wrap img{
display: flex;
width: 1000px;
margin-right: 50px;
overflow-x: auto; /* Enable horizontal scrolling */
}
.pin-wrap > * {
min-width: 30vw; /* Adjust as needed */

flex-shrink: 0; /* Prevent child elements from shrinking */
}

img {
height: 90vh;
width: auto;
object-fit: cover;
flex-shrink: 0; /* Prevent images from shrinking */
}

.talk ul{
    width:50px;
    height: 50px;
}

h2 {
    font-size: 2rem;
    max-width: 400px;
}

* {
    box-sizing: border-box;
}

.after-pin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3857a;
    color: #f1dba7;
}

section.main {
    width: auto;
    height: 1200px;
    color: #fff; /* White text */
    padding: 50px 0;
    margin-top: -200px;
   
    
}
section.timeline {
    width: auto;
    height: 1600px;

    background-image: url('img/bgorange.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333; /* Dark grey text */
    padding: 50px 0;
    z-index: 2;
}

section.synopsis {
    width: auto;
    height: 2000px;
    background-color: orange; /* Light grey background */
    color: #333; /* Dark grey text */
    padding: 50px 0;
}

section.video {
    width: auto;
    height: 1000px;
    background-color:  rgba(255, 245, 0, 0.8); /* Gold background */
    color: #333; /* Dark grey text */
    padding: 50px 0;
}

section.chapterpage {
    width: auto;
    height: 2000px;
    background-color: #ffffff; /* Sky blue background */
    color: #333; /* Dark grey text */
    padding: 50px 0;
}

section.character {
    width: auto;
    height: 2000px;
    background-color: #ff6347; /* Tomato background */
    color: #fff; /* White text */
    padding: 50px 0;
}

section.mainpage {
    width: auto;
    height: 1000px;
    background-color: rgb(255, 255, 255); 
    color: #fff; /* White text */
    padding: 50px 0;
}
.orangeright {
    width: 1200px; /* Width of the orange rectangle */
    height: 60%; /* Make it as tall as the section */
    background-color: #FF9900; /* Orange background */
    position: absolute; /* Position it absolutely within the section */
    right: 0; /* Attach it to the right side */
    margin-top: 60px;
    
}
section.userpage {
    width: auto;
    height: 900px;
    background-color:rgb(253, 220, 54); 
    background-image: url('img/bgyellow.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* White text */
    padding: 50px 0;
}
.orangeleft {
    width: 1200px; /* Width of the orange rectangle */
    height: 60%; /* Make it as tall as the section */
    background-color: #FF9900; /* Orange background */
    position: absolute; /* Position it absolutely within the section */
    left: 0; /* Attach it to the right side */
    margin-top: 60px;
    
}
.whiteright {
    width: 620px; /* Width of the orange rectangle */
    height: 60%; /* Make it as tall as the section */
    background-color: rgb(255, 255, 255); /* Orange background */
    position: absolute; /* Position it absolutely within the section */
    right: 0; /* Attach it to the right side */
    margin-top: 60px;
    
}
section.store {
    width: auto;
    height: 1100px;
    background-color: #ffffff; 
    background-image: url('img/bgwhite.png');
background-size: cover;
background-position: center;
background-attachment: fixed;
    color: #fff; /* White text */
    padding: 50px 0;
    z-index: 2;
}

section.gameplayimage {
    width: auto;
    height: 1100px;
    background-color: #9b9b9b; /* Indigo background */
    color: #fff; /* White text */
    padding: 50px 0;
    z-index: 1;
}
.gameplayimage  img{
    width:1000px;
    height: auto;
    margin-top: 180px;
    margin-bottom: 10px;
    margin-left: 30px;
}

section.branding {
    width: auto;
    height: 1000px;
    background-color: #fff; /* White background */
    color: #333; /* Dark grey text */
    padding: 50px 0;
}

.brandinglogo img{
    width:1000px;
    height: auto;
    margin-top: 180px;
    margin-bottom: 10px;
    margin-left: 280px;
}
/*CONTACT*/

section.contact {
  width: auto;
  height: 400px;
  background-color: #ffffff; /* Red background */
  color: #333; /* Dark grey text */
  padding: 60px 0;
  position: relative; /* Make the section a positioned element */
}

.orange-rectangle {
    width: 1200px; /* Width of the orange rectangle */
    height: 60%; /* Make it as tall as the section */
    background-color: #FFE500; /* Orange background */
    position: absolute; /* Position it absolutely within the section */
    right: 0; /* Attach it to the right side */
    top: 100px; /* Align it to the top */
}
.white-rectangle {
    width: 1000px; /* Width of the orange rectangle */
    height: 20%; /* Make it as tall as the section */
    background-color: rgb(255, 255, 255); /* Orange background */
    position: absolute; /* Position it absolutely within the section */
    right: 0; /* Attach it to the right side */
    top:180px; /* Align it to the top */
}

.contact p {
    font-style: bold;
    margin: 40px 100px;
    margin-left:180px;
    margin-top:205px;
    font-size: 25px;
    text-align: left;
}
footer {
    width: 105%;
    background-color: #FF9900;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    margin: 0 50px 0 0;
    padding: 100px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container .footer-logo img {
    width: 300px;
    height: auto;
    margin-left: 5px;
    margin-right: 30px;
}

footer p {
    margin: 40px 100px;
    margin-left:10px;
    font-size: 16px;
    text-align: left;
}
.horizontal{
    color:rgb(255, 255, 255);
}


#result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 600px;
    border: 1px solid #010101;
    background-color: rgb(0, 0, 0); /* 초기 배경색 흰색 */
    margin-bottom: 20px;
    margin-left: 440px;
    margin-top: 100px;
}
#result.a {
    background: aqua;
}
#result.b {
    background: rgb(4, 255, 0);
}
#result.c {
    background: rgb(255, 0, 162);
}
#result.d {
    background: rgb(255, 234, 0);
}
.answer-box {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.answer {
    width: 180px;
    height: 180px;
    border: 1px solid #aaa;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #fff;
    cursor: pointer;
    margin-left: 65px;
   
}
.answer:nth-of-type(1) {
    background-image: url(img/icon_wrong1.svg);
}
.answer:nth-of-type(2) {
    background-image: url(img/icon_wrong2.svg);
}
.answer:nth-of-type(3) {
    background-image: url(img/icon-right.svg);
}
.answer:nth-of-type(4) {
    background-image: url(img/icon_wrong3.svg);
}
.horizontal{
    background-color: rgb(255, 255, 255);
}

h4{
    margin-left: 60px;
}